.small,
.medium {
  display: flex;
  gap: 15px;
}

.medium > .grade {
  font-size: 1.5rem;
  font-weight: 700px;
  color: var(--blue);
}

.medium > .bar {
  font-size: 1.5rem;
  font-weight: 700px;
  color: var(--gray-400);
}

.medium > .category {
  font-size: 1.5rem;
  font-weight: 700px;
  color: var(--gray-300);
}

.small > .grade {
  font-size: 1rem;
  font-weight: 400px;
  color: var(--blue);
}

.small > .bar {
  font-size: 1rem;
  font-weight: 400px;
  color: var(--gray-400);
}

.small > .category {
  font-size: 1rem;
  font-weight: 400px;
  color: var(--gray-300);
}
