.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.thick-main-440px {
  width: 440px;
  height: 80px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thick-main-345px {
  width: 345px;
  height: 75px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thick-main-343px {
  width: 343px;
  height: 75px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-520px {
  width: 520px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-440px-55px {
  width: 440px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-440px-60px {
  width: 440px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-440px-60px-sell-modal {
  width: 440px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-345px {
  width: 345px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-272px {
  width: 272px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-170px {
  width: 170px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-210px {
  width: 210px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-165px {
  width: 165px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-141px {
  width: 141px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 1rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-main-72px {
  width: 72.5px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--main);
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--black);
  border: 0;
}

.thin-345px.disabled {
  width: 345px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--gray-400);
  font-size: 1rem;
  font-weight: 700;
  color: var(--gray-300);
  border: 0;
}

.thin-black-520px {
  width: 520px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.thin-black-440px {
  width: 440px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.thin-black-345px {
  width: 345px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.thin-black-210px {
  width: 210px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.thin-black-170px {
  width: 170px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.thin-black-165px {
  width: 165px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

.thin-black-141px {
  width: 141px;
  height: 55px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1rem;
  font-weight: 500;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

.thin-black-72px {
  width: 72.5px;
  height: 40px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 0.75rem;
  font-weight: 500;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

.thick-black-345px {
  width: 345px;
  height: 75px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

.thick-black-343px {
  width: 343px;
  height: 75px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

.thin-black-120px {
  width: 120px;
  height: 60px;
  border-radius: 1px;
  background-color: var(--black);
  font-size: 1rem;
  font-weight: 400;
  line-height: 23.17px;
  color: var(--main);
  border: 1px solid var(--main);
}

/* 360px-60px gray색의 버튼 */
.thin-gray-360px {
  width: 360px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--gray-500);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

/* 440px - 60px black 버튼 추가 */
.thin-black-440px-60px {
  width: 440px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

/* 440px - 60px black 버튼 추가 */
.thin-black-440px-60px-sell-modal {
  width: 440px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

/* 440px - 60px gray 버튼 추가 */
.thin-gray-440px-60px {
  width: 440px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--gray-500);
  font-size: 1.125rem;
  font-weight: 700;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

/* 440px - 80px black 버튼 추가 */
.thick-black-440px-80px {
  width: 440px;
  height: 80px;
  border-radius: 2px;
  background-color: var(--black);
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--gray-100);
  border: 1px solid var(--gray-100);
}

/* gray 색의 버튼 (거절하기) */
.thin-gray-170px {
  width: 170px;
  height: 60px;
  border-radius: 2px;
  background-color: var(--gray-500);
  font-size: 1.125rem;
  font-weight: 500;
  color: var(--white);
  border: 1px solid var(--gray-100);
}

/* Tablet view */
@media (min-width: 744px) and (max-width: 1199px) {
  .thin-main-520px {
    width: 440px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-440px-60px {
    width: 342px;
    height: 60px;
    font-size: 1rem;
  }

  .thin-main-170px {
    width: 140px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-440px-60px-sell-modal {
    width: 342px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-black-440px-60px-sell-modal {
    width: 342px;
    height: 55px;
    font-size: 1rem;
  }

  .thick-main-440px {
    width: 342px;
    height: 75px;
    font-size: 1.125rem;
  }

  .thick-black-440px-80px {
    width: 342px;
    height: 75px;
    font-size: 1.125rem;
  }

  .thin-main-210px {
    width: 161px;
    height: 55px;
    font-size: 1rem;
  }

  /**/

  .thin-black-440px-60px {
    width: 277px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-170px {
    width: 141px;
    height: 55px;
    font-size: 1rem;
  }

  /* gray색의 버튼 (거절하기) */
  .thin-gray-170px {
    width: 141px;
    height: 55px;
    font-size: 1rem;
  }

  /* 360px-60px gray색의 버튼 */
  .thin-gray-360px {
    width: 302px;
    height: 55px;
    font-size: 1rem;
  }
}

/* Mobile view */
@media (max-width: 743px) {
  .thin-main-520px {
    width: 345px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-440px-60px {
    width: 345px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-170px {
    width: 120px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-440px-60px-sell-modal {
    width: 165px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-black-440px-60px-sell-modal {
    width: 165px;
    height: 55px;
    font-size: 1rem;
  }

  .thick-main-440px {
    width: 345px;
    height: 75px;
    font-size: 1.125rem;
  }

  .thick-black-440px-80px {
    width: 345px;
    height: 75px;
    font-size: 1.125rem;
  }

  .thin-main-210px {
    width: 165px;
    height: 55px;
    font-size: 1rem;
  }

  /**/

  .thin-black-440px-60px {
    width: 277px;
    height: 55px;
    font-size: 1rem;
  }

  .thin-main-170px {
    width: 72.5px;
    height: 40px;
    font-size: 0.75rem;
  }

  /* gray색의 버튼 (거절하기) */
  .thin-gray-170px {
    width: 72.5px;
    height: 40px;
    font-weight: 700;
    font-size: 0.75rem;
  }

  /* 360px-60px gray색의 버튼 */
  .thin-gray-360px {
    width: 150px;
    height: 40px;
    font-weight: 700;
    font-size: 0.75rem;
  }
}
