.card-container {
  width: 440px;
  height: 600px;
  background-color: var(--gray-500);
  padding: 40px;
  cursor: pointer;
  border: 1px solid #ffffff1a;
  position: relative;
  color: var(--white);
}

.card-image {
  display: block;
}

.card-sellout {
  width: 360px;
  height: 270px;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 1;
}

.card-sellout-no{
  display: none;
}

.card-state {
  position: absolute;
  top: 50px;
  left: 50px;
  padding: 4px 10px;
  background: #00000080;
  line-height: 23.17px;
}

.card-information {
  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 20px;
}

.card-information-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.card-information-grade-wrapper {
  display: flex;
  gap: 10px;
  line-height: 23.17px;
}

.card-title {
  margin-top: 25px;
  font-size: 22px;
  font-weight: 700;
  line-height: 31.86px;
}

.card-grade {
  font-weight: 300;
}

.card-category {
  font-weight: 400;
  color: var(--gray-300);
}

.card-grade-divider {
  font-weight: 400;
  color: var(--gray-400);
}

.card-nickname {
  font-weight: 400;
  text-decoration: underline;
}

.card-price-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.card-price-tag,
.card-stock-tag {
  font-weight: 300;
  line-height: 23.17px;
  color: var(--gray-300);
}

.card-stock-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.card-price {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.06px;
}

.card-stock {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.06px;
}

.card-stock-denominator {
  color: var(--gray-300);
  font-size: 18px;
  font-weight: 300;
  line-height: 26.06px;
  margin-left: 5px;
}

.card-logo {
  margin: 40px auto 0;
  display: block;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .card-container {
    width: 342px;
    height: 517px;
    padding: 20px;
  }

  .card-image {
    width: 302px;
    height: 226.5px;
  }

  .card-title {
    margin-top: 25.5px;
  }

  .card-logo {
    margin: 30px auto 0;
  }
}

@media (min-width: 375px) and (max-width: 743px) {
  .card-container {
    width: 170px;
    height: 234px;
    padding: 10px;
  }

  .card-image {
    width: 150px;
    height: 112px;
  }

  .card-information {
    padding-bottom: 10px;
  }

  .card-information-wrapper {
    margin-top: 5px;
  }

  .card-information-grade-wrapper {
    gap: 5px;
    line-height: 14.48px;
  }

  .card-title {
    margin-top: 10px;
    font-size: 14px;
    line-height: 20.27px;
  }

  .card-grade,
  .card-category,
  .card-grade-divider,
  .card-nickname {
    font-size: 10px;
  }

  .card-price-wrapper {
    margin-top: 10px;
  }

  .card-price-tag,
  .card-stock-tag {
    font-size: 10px;
    line-height: 14.48px;
  }

  .card-stock-wrapper {
    margin-top: 5px;
  }

  .card-price,
  .card-stock {
    font-size: 10px;
    line-height: 14.48px;
  }

  .card-stock-denominator {
    font-size: 10px;
    line-height: 14.48px;
  }

  .card-logo {
    display: none;
  }
}
