.card-container {
  width: 440px;
  height: 600px;
  background-color: var(--gray-500);
  border: 1px solid #ffffff1a;
  padding: 40px;
}

.card-image {
  width: 360px;
  height: 270px;
  background-color: #3f3f3f;
}

.card-title {
  width: 150px;
  height: 28px;
  background-color: #3f3f3f;
  margin-top: 25px;
  border-radius: 3px;
}

.card-information-wrapper {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray-400);
  padding-bottom: 20px;
}

.card-grade {
  width: 170px;
  height: 21px;
  background-color: #3f3f3f;
  border-radius: 3px;
}

.card-nickname {
  width: 80px;
  height: 23px;
  background-color: #3f3f3f;
  border-radius: 3px;
}

.card-stock,
.card-price {
  width: 360px;
  height: 21px;
  margin-top: 20px;
  border-radius: 3px;
  background-color: #3f3f3f;
}

.card-logo {
  margin: 40px auto 0;
  display: block;
}
