.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  margin-top: 60px;
}

.market-place {
  font-family: 'baskinRobbins';
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-300);
  width: 1480px;
}

.title {
  width: 1480px;
  height: 78px;
  font-size: 2.5rem;
  font-weight: 700;
  border-bottom: 2px solid var(--gray-100);
  display: flex;
  justify-content: space-between;
}

.photocard-image {
  width: 960px;
  height: 720px;
  position: relative;
}

.exchange-container {
  width: 1480px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.exchange-content {
  font-size: 1.5rem;
  font-weight: 700px;
}
