.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px 60px 120px;
  width: 1160px;
  height: 1000px;
}

.market-place {
  font-family: "baskinRobbins";
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-300);
  width: 920px;
}

.title {
  font-family: "baskinRobbins";
  height: 78px;
  font-size: 2.875rem;
  font-weight: 400;
  border-bottom: 2px solid var(--gray-100);
  width: 920px;
  margin-top: 40px;
}

.search-dropdown-container {
  display: flex;
  width: 920px;
  margin-top: 20px;
}

.dropdown-container {
  display: flex;
  gap: 45px;
  margin-left: 60px;
  align-items: center;
}

.card-list {
  width: 1000px;
  margin-top: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .container {
    padding: 51px 20px 0px 20px;
    width: 744px;
    height: 1000px;
  }

  .market-place {
    font-size: 1rem;
    width: 704px;
  }

  .title {
    height: 61px;
    font-size: 2.5rem;
    width: 704px;
    margin-top: 40px;
  }

  .search-dropdown-container {
    width: 704px;
    margin-top: 20px;
  }

  .dropdown-container {
    gap: 25px;
    margin-left: 30px;
  }

  .card-list {
    width: 744px;
    margin-top: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    gap: 20px;
  }
}
@media (min-width: 375px) and (max-width: 743px) {
  .container {
    padding: 51px 15px 0px 15px;
    width: 375px;
    height: 812px;
  }

  .market-place {
    font-size: 0.875rem;
    width: 345px;
  }

  .title {
    height: 61px;
    font-size: 1.625rem;
    width: 345px;
    margin-top: 15px;
  }

  .search-dropdown-container {
    width: 704px;
    margin-top: 20px;
  }

  .dropdown-container {
    gap: 25px;
    margin-left: 30px;
  }

  .card-list {
    width: 375px;
    margin-top: 0;
    padding-top: 20px;
    padding-right: 15px;
    padding-left: 15px;
    gap: 5px;
  }
}
