.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 120px 60px 120px;
  width: 1160px;
  height: 1000px;
}

.card-exchange {
  font-family: 'baskinRobbins';
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--gray-300);
  width: 920px;
}

.title {
  font-family: 'baskinRobbins';
  height: 78px;
  font-size: 2.875rem;
  font-weight: 400;
  border-bottom: 2px solid var(--gray-100);
  width: 920px;
  margin-top: 40px;
}
