.default {
  width: 560px;
  height: 352px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.height-375px {
  width: 560px;
  height: 355px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 80px;
}

.content {
  font-weight: 400;
  margin-top: 40px;
  color: var(--gray-300);
  white-space: pre-line;
  text-align: center;
  line-height: 23.17px;
}

.button {
  margin-top: 60px;
}
