.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 560px;
  height: 352px;
  padding: 80px 60px 60px;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
}

.modal-content {
  color: var(--gray-300);
  margin-bottom: 20px;
}
