.default {
  width: 520px;
  height: 60px;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--gray-200);
  padding-left: 20px;
  font-weight: 400;
  border-radius: 2px;
}

.container-search {
  width: 320px;
  height: 50px;
  position: relative;
  line-height: 23.17px;
}

.search {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--gray-200);
  padding-left: 20px;
  font-weight: 400;
  border-radius: 2px;
}

.vector {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 20px;
}

.container-password {
  width: 520px;
  height: 60px;
  position: relative;
  line-height: 23.17px;
}

.password {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--gray-200);
  padding-left: 20px;
  font-weight: 400;
  border-radius: 2px;
}

.container-price {
  width: 245px;
  height: 50px;
  border-radius: 2px;
  font-weight: 700;
  color: var(--white);
  background-color: var(--black);
  font-size: 1.125rem;
  padding: 0px 20px 0px 20px;
  border: 1px solid var(--gray-200);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  width: 100%;
  background-color: var(--black);
  font-weight: 400;
  color: var(--white);
  border: 0;
}

.textarea {
  width: 520px;
  height: 180px;
  border-radius: 2px;
  padding: 18px 20px 18px 20px;
  background-color: var(--black);
  border: 1px solid var(--gray-200);
  color: var(--white);
  font-weight: 400;
  resize: none;
}

.textarea::-webkit-scrollbar {
  display: none;
}

.textarea {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.default.error,
.password.error {
  border: 1px solid var(--red);
}

.default.error:focus,
.password.error:focus {
  outline: 1px solid var(--red);
}

.visibility-off,
.visibility-on {
  position: absolute;
  cursor: pointer;
  width: 24px;
  height: 24px;
  top: 18px;
  right: 18px;
}

.search::placeholder,
.password::placeholder,
.textarea::placeholder {
  color: var(--gray-200);
  font-weight: 300;
}

@media (min-width: 744px) and (max-width: 1199px) {
}

@media (min-width: 375px) and (max-width: 743px) {
}
