.notification-box {
  width: 300px;
  height: 107px;
  padding: 20px;
  border-bottom: 1px solid #5a5a5a;
  background-color: #222222;
  position: relative;
}

.notification-time {
  position: absolute;
  left: 20px;
  bottom: 20px;
  font-size: 12px;
  font-weight: 300;
  line-height: 17.38px;
  color: var(--gray-300);
}

.notification-box-checked {
  width: 300px;
  height: 107px;
  padding: 20px;
  border-bottom: 1px solid #5a5a5a;
  background-color: #161616;
  color: var(--gray-300);
  position: relative;
}

.notification-btn {
  position: absolute;
  right: 20px;
  bottom: 17px;
}
