.header {
  position: sticky;
  top: 0;
  z-index: 10;
  height: 80px;
  width: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: var(--black);
}

.nav-none {
  display: none;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1480px;
  margin: auto;
}

.list {
  display: none;
}

/* Tablet view */
@media (min-width: 744px) and (max-width: 1199px) {
  .header {
    height: 70px;
  }

  .container {
    max-width: 664px;
  }

  .logo {
    width: 111px;
    height: 20px;
  }
}

/* Mobile view */
@media (max-width: 743px) {
  .header {
    height: 60px;
  }

  .container {
    max-width: 375px;
  }

  .list {
    display: block;
  }

  .logo {
    width: 83px;
    height: 15px;
  }
}
