.dropdown-container-default,
.dropdown-container-180,
.dropdown-container-520,
.dropdown-container-440 {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  line-height: 23.17px;
}

.dropdown-menu-default,
.dropdown-menu-180,
.dropdown-menu-520,
.dropdown-menu-440 {
  background-color: var(--black);
  border: 1px solid var(--gray-200);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  font-weight: 400;
  line-height: 23.17px;
  position: absolute;
}

.dropdown-menu-item-default,
.dropdown-menu-item-180,
.dropdown-menu-item-520,
.dropdown-menu-item-440 {
  margin-left: 20px;
  display: flex;
  align-items: center;
  font-weight: 400;
  line-height: 23.17px;
}

.dropdown-container-default {
  gap: 10px;
  font-weight: 700;
}
.dropdown-menu-default {
  margin-top: 18px;
}
.dropdown-menu-item-default {
  height: 42px;
  margin-right: 20px;
}

.dropdown-container-180 {
  justify-content: space-between;
  width: 180px;
  height: 50px;
  font-weight: 400;
  border: 1px solid var(--gray-200);
  padding: 0 20px;
  border-radius: 2px;
}
.dropdown-menu-180 {
  margin-top: 5px;
  width: 180px;
}
.dropdown-menu-item-180 {
  height: 42px;
}

.dropdown-container-520 {
  justify-content: space-between;
  width: 520px;
  height: 60px;
  font-weight: 400;
  border: 1px solid var(--gray-200);
  padding: 0 20px;
  border-radius: 2px;
}
.dropdown-menu-520 {
  margin-top: 5px;
  width: 520px;
}
.dropdown-menu-item-520 {
  height: 48px;
}

.dropdown-container-440 {
  justify-content: space-between;
  width: 440px;
  height: 60px;
  font-weight: 300;
  border: 1px solid var(--gray-200);
  padding: 0 20px;
  border-radius: 2px;
}
.dropdown-menu-440 {
  margin-top: 5px;
  width: 440px;
}
.dropdown-menu-item-440 {
  height: 48px;
}

@media (min-width: 744px) and (max-width: 1199px) {
  .dropdown-container-default,
  .dropdown-container-180,
  .dropdown-container-520,
  .dropdown-container-440 {
    font-size: 14px;
    line-height: 20.27px;
  }

  .dropdown-container-180 {
    width: 140px;
    height: 45px;
  }
  .dropdown-menu-180 {
    width: 140px;
  }

  .dropdown-container-520 {
    width: 440px;
    height: 55px;
  }
  .dropdown-menu-520 {
    width: 440px;
  }

  .dropdown-container-440 {
    width: 342px;
    height: 55px;
  }
  .dropdown-menu-440 {
    width: 342px;
  }
}

/* Mobile view */
@media (max-width: 743px) {
  .dropdown-container-default,
  .dropdown-container-180,
  .dropdown-container-520,
  .dropdown-container-440 {
    font-size: 14px;
    line-height: 20.27px;
  }

  .dropdown-container-180 {
    width: 130px;
    height: 35px;
    padding: 0 15px;
  }
  .dropdown-menu-180 {
    width: 130px;
  }

  .dropdown-container-520 {
    width: 345px;
    height: 55px;
  }
  .dropdown-menu-520 {
    width: 345px;
  }

  .dropdown-container-440 {
    width: 345px;
    height: 55px;
  }
  .dropdown-menu-440 {
    width: 345px;
  }
}
