.create-card-container {
  width: 1480px;
  margin: 60px auto 180px;
}

.create-card-title {
  border-bottom: 2px solid var(--gray-100);
  font-family: "baskinRobbins";
  font-size: 62px;
  line-height: 63.49px;
  letter-spacing: -0.03em;
  padding-bottom: 20px;
}

.create-card-input-container {
  width: fit-content;
  margin: 80px auto 0;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.create-card-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 28.96px;
  display: inline-block;
  margin-bottom: 10px;
}

.create-card-input-upload {
  padding: 18px 0;
  background-color: var(--black);
  border: 1px solid var(--gray-200);
  width: 390px;
  height: 60px;
  padding-left: 20px;
  border-radius: 2px;
  color: var(--gray-200);
  font-weight: 300;
  line-height: 23.17px;
}

.create-card-input-upload::placeholder {
  color: var(--gray-200);
  font-weight: 300;
}

.create-card-input-upload-wrapper {
  display: flex;
  gap: 10px;
}
