@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");

:root {
  --black: #0f0f0f;
  --gray-500: #161616;
  --gray-400: #5a5a5a;
  --gray-300: #a4a4a4;
  --gray-200: #dddddd;
  --gray-100: #eeeeee;
  --white: #ffffff;
  --red: #ff483d;
  --blue: #29c9f9;
  --purple: #a77eff;
  --pink: #ff2a6a;
  --main: #efff04;
}

a {
  text-decoration: none;
}

html {
  font-size: 16px;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--black);
  color: var(--white);
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

input:focus {
  outline: 0;
}

button {
  cursor: pointer;
}

@font-face {
  font-family: "baskinRobbins";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/baskinRobbins.ttf") format("truetype");
}
